{% extends 'base.html' %}

{% block title %}
    <title>登录</title>
{% endblock %}

{% block head-js %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
	<div class="login">
		<h1><a href="{% url 'index' %}">Primumest</a></h1>
        <h4 class="span-font-green h4-layout">欢迎来到君惜的CMDB平台</h4>
		<div class="login-bottom">
			<h2>Login</h2>
			<form action="" method="post"> {% csrf_token %}
                <div class="col-md-6">
                    <div class="login-mail">
                        <input type="text" name="username" placeholder="用户名" required="">
                        <i class="fa fa-user"></i>
    {#					<i class="fa fa-envelope"></i>#}
                    </div>
                    <div class="login-mail">
                        <input type="password" name="password" placeholder="密码" required="">
                        <i class="fa fa-lock"></i>
                    </div>
                       <a class="news-letter " href="#">
                            <label class="checkbox1"><input type="checkbox" name="checkbox"><i></i>记住密码</label>
                       </a>
                </div>
                <div class="col-md-6 login-do">
                    <label class="hvr-shutter-in-horizontal login-sub">
                        <input class="post-login" type="submit" value="登录">
                        </label>
                        <p>你拥有一个账户吗?</p>
                    <a href="{% url 'register' %}" class="hvr-shutter-in-horizontal">注册</a>
                </div>

                <div class="clearfix"> </div>
			</form>
		</div>
	</div>
		<!---->
<div class="copy-right">
            <p>&copy; 2017 JunXi. All Rights Reserved</p>	    </div>
{% endblock %}

{% block bottom-js %}
{#    <script>#}
{#    $(document).ready(function(){#}
{#        $('form').submit(function (event) {#}
{#                var checkboxValue = $('input[name="checkbox"]')[0];#}
{#                // console.log(checkboxValue.checked);#}
{#                if (checkboxValue.checked === false){#}
{#                    // event.preventDefault();     // 阻止表单提交的函数#}
{#                }#}
{#            }#}
{#        );#}
{#    })#}
{#    </script>#}
{% endblock %}
