{% extends 'base.html' %}

{% block title %}
    <title>重置密码</title>
{% endblock %}

{% block head-js %}
		<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}

			

			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});
			

			
		});
		</script>
{% endblock %}

{% block content %}
     <div id="page-wrapper" class="gray-bg dashbard-1">
       <div class="content-main">
 
 	<!--banner-->	
		    <div class="banner">
		    	<h2>
				 <a href="{% url 'view_user_list' %}">
				    <span>用户管理</span>
                </a>
				<i class="fa fa-angle-right"></i>
				<span>{{ user_data.nickname }}</span>
                <i class="fa fa-angle-right"></i>
                <span>重置密码</span>
				</h2>
		    </div>
		<!--//banner-->
 	 <!--修改密码-->
    <form class="form-horizontal" enctype="multipart/form-data" action="" method="post">
    {% if status == 'inconsistent' %}
        <div class="login" style="padding: 2em">
            <h3 class="span-font-red">两次密码输入不一致，<a href="{% url 'reset_password' user_data.id %}">请重试</a></h3>
        </div>
    {% elif status == 'success' %}
        <div class="login" style="padding: 2em">
{#            <h3 class="span-font-green">密码重置成功，<a href="{% url 'user_profile' user_data.id %}">点击返回</a></h3>#}
            <h3 class="span-font-green">密码重置成功，<a href="{% url 'view_user_list' %}">点击返回</a></h3>
        </div>
    {% else %}
        <div class="login" style="padding: 2em">
            <h1><a href="#">{{ user_data.username }}</a></h1>
{#            <h1><a href="{% url 'user_profile' user_data.id %}">{{ user_data.username }}</a></h1>#}
            <div class="login-bottom">
                <h2>重置密码</h2>
                <div class="col-md-6">
                    <div class="login-mail">
                        <input type="password" placeholder="请输入新密码" name="new_password1" required="">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="login-mail">
                        <input type="password" placeholder="请再次输入新密码" name="new_password2" required="">
                        <i class="fa fa-lock"></i>
                    </div>

                </div>
                <div class="col-md-6 login-do">
                    <label class="hvr-shutter-in-horizontal login-sub">
                        <input type="submit" value="提交">
    {#                    <input type="submit" value="注册" onclick="alert('注册成功！')">#}
                    </label>
                    <p>不想改了</p>
                    <a href="{% url 'view_user_list' %}" class="hvr-shutter-in-horizontal"><h5>取消</h5></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endif %}
    </form>
	<!--//修改密码-->
		<!---->
        <div class="copy">
            <p>&copy; 2017 JunXi. All Rights Reserved</p>
        </div>
		</div>
		</div>

    {% endblock %}
     




