{% extends 'base.html' %}

{% block title %}
    <title>salt文件分发</title>
{% endblock %}

{% block head-js %}
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }


            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });


        });
    </script>
{% endblock %}

{% block content %}
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main">

            <!--banner-->
            <div class="banner">
                <h2>
                    <a href="{% url 'salt_key' %}">运维管理</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="{% url 'salt_filesend' %}"><span>salt文件分发</span></a>
                </h2>
            </div>
            <!--//banner-->

            <!-- tab content -->
            <div class="validation-system">
                <span class="long-span1">SALT文件分发</span>
                <div class="validation-form">
                    <div class="inbox-padding">
                        <div class="mailbox-content">
                        <div class="alert alert-danger" role="alert"><span>请注意！服务端要发送的文件请放在/srv/salt/data目录下。客户端接受文件默认存放在/salt/data目录下，存放其他目录请手动修改。</span></div>
                                <br />
                                <div class="form-inline"> {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-3 col-lg-offset-1">
                                            <label class="span-font-red">左侧是/srv/salt/data目录文件列表</label>
                                            <select id='send-file-list' class="form-control" multiple size="15" style="width: 250px;">
                                            {% for k,v in file_list.items %}
                                              <option value="{{ v }}">{{ v }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="input-group-btn">
                                                <button type="button" class="add-file-btn btn btn-info" onclick="doMove('send-file-list', 'recv-file-list')">添加文件</button>
                                            </div>
                                            <br />
                                            <select style="width: 140px" class="server-select form-control">
{#                                            <select style="width: 140px" multiple class="server-select form-control">#}
                                              <option value="*">全部主机</option>
                                            {% for server in server_data %}
                                              <option value="{{ server.hostname }}">{{ server.hostname }}</option>
                                            {% endfor %}
                                            </select>
                                            <div class="input-group">
                                                <input style="width: 140px" type="text" class="file-recv-dir" placeholder="/salt/data/"/>
                                            </div>
                                            <div class="input-group-btn" >
                                                <button type="button" class="delete-file-btn btn btn-danger" onclick="doMove('recv-file-list', 'send-file-list')">删除文件</button>
                                            </div>
                                        </div>
                                          <div class="col-lg-3 col-lg-pull-1">
                                            <label class="span-font-green">右侧是要发送的文件</label>
                                            <select id="recv-file-list" class="form-control" multiple size="15" style="width: 250px;">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group-btn" >
                                    <button type="button" class="send-file-btn btn btn-primary" data-action="salt_filesend" onclick="sendFile(this.dataset.action, getServerName(), getFileList(), getRecvdir())">开始传输</button>
                                </div>
                                <br style="line-height: 45px" />
                                <div class="container">
                                    <label class="span-font-green">运行结果：</label>
                                    <textarea class="form-control command-result-show" rows="6" style="width: 850px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="clearfix"></div>

    <!--//grid-->
    <!---->
    <div class="copy">
        <p>&copy; 2017 JunXi. All Rights Reserved</p>
    </div>
{% endblock %}

{% block bottom-js %}
    <script>
        function refresh() {
            window.location.reload();
        }
    </script>
    <script>
        function getServerName() {
            var serverlist = $('.server-select')[0];
            var index = serverlist.selectedIndex; // 选中索引
            var text = serverlist.options[index].text; // 选中文本
            var choiceValue = serverlist.options[index].value; // 选中值
            // console.log(choiceValue);
            return choiceValue;
        }
    </script>
    <script>
        function getFileList() {
            var filelist = $('#recv-file-list')[0];
            var list = filelist.options; // 选项
            var valueList = [];
            for (var i=0; i<list.length; i++){
                // console.log(filelist.options[i].value);
                valueList.push(filelist.options[i].value)
            }
            valueList = valueList.join(',');    // 把数组拆分成字符串
            return valueList;
        }
    </script>
    <script>
    function getRecvdir() {
        var recvdir = $(".file-recv-dir")[0].value;
        return recvdir;
        // console.log(recvdir);
    }
    </script>
    <script type="text/javascript">
        function doMove(id1, id2) {
            // 获取节点
 			var sid1 = document.getElementById(id1);
			var sid2 = document.getElementById(id2);
            var list = sid1.options;
            for (var i=0; i<list.length; i++){
                // 判断Option是否被选中
                if (list[i].selected){
                    list[i].selected = false;   // 取消选中
                    var tmp = list[i];  // 临时赋值给tmp
                    sid1.remove(i); // 移除
                    sid2.add(tmp);  // 添加
                    i--;    // 自减, 阻止++ 因为选项少了一个
                }
            }
        }
    </script>
    <script>
        function sendFile(action, hostname, filelist, recvdir) {
            $.ajax(
                {
                    type: "post",
                    cache: false,
                    url: "http://127.0.0.1:8080/web/server/saltapi/",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        "action": action,
                        "hostname": hostname,
                        "filelist": filelist,
                        "recvdir": recvdir
                    },
                    success: function (data) {
                        if (data["status"] == "success") {
                            console.log(data["status"]);
                            var commandResultBox = $('.command-result-show')[0];
                            commandResultBox.innerHTML = '';
                            commandResultBox.innerHTML = data["result"];
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                }
            )
        }
    </script>
{#    <script>#}
{#    function ssss() {#}
{#        var a=new Object();#}
{#        a.name='金克斯';#}
{#        b=a;#}
{#        a.name='吉克斯';#}
{#        b.name='拉克丝';#}
{#        document.write(a.name);#}
{#        document.write(b.name);#}
{#    }#}
{#    </script>#}

{#    <script type="text/javascript">#}
{#        function doMove(id1, id2) {#}
{#            // 获取节点#}
{# 			var sid1 = document.getElementById(id1);#}
{#			var sid2 = document.getElementById(id2);#}
{#            var list = sid1.options;#}
{#            console.log(list);#}
{#            for (var i=0; i<list.length; i++){#}
{#                // 判断Option是否被选中#}
{#                if (list[i].selected){#}
{#                    list[i].selected = false;   // 取消选中#}
{#                    var tmp = list[i];  // 临时赋值给tmp#}
{#                    sid1.remove(i); // 移除#}
{#                    sid2.add(tmp);  // 添加#}
{#                    i--;    // 自减, 阻止++ 因为选项少了一个#}
{#                }#}
{#            }#}
{#        }#}
{#    </script>#}

{% endblock %}

