{% extends 'base.html' %}

{% block title %}
    <title>主机添加</title>
{% endblock %}

{% block head-js %}
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }


            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });


        });
    </script>
{% endblock %}

{% block content %}
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main">

            <!--banner-->
            <div class="banner">
                <h2>
                    <a href="{% url 'server_list' %}">主机管理</a>
                    <i class="fa fa-angle-right"></i>
                    <span>主机添加</span>
                </h2>
            </div>
            <!--//banner-->
            <!--grid-->
            <div class="validation-system">

                <div class="validation-form">
                    <!---->
                    {% if new_server %}
                        <h3 class="text-danger">主机{{ new_server.hostname }}已添加, <a href="{% url 'servers' new_server.id %}">点我查看</a></h3>
{#                        <h3><{{ new_server.hostname }}>已添加, <a href="{% url 'servers' new_server.id %}">点我查看</a></h3>#}
                    {% else %}
                    <form action="" method="post"> {% csrf_token %}
                        <div class="vali-form">
                            <div class="col-md-6 form-group1 group-mail">
                                <label class="">主机名</label><span class="span-font-red">（主机名是唯一的）</span>
                                <input type="text" name="hostname" placeholder="" required="">
                            </div>
                            <div class="col-md-6 form-group1 group-mail">
                                <label class="">IP</label><span class="span-font-red">（IP是唯一的）</span>
                                <input type="text" name="ip" placeholder="" required="">
                            </div>
                            <div class="col-md-6 form-group1 group-mail">
                                <label class="">MAC</label>
                                <input type="text" name="mac" placeholder="" required="">
                            </div>
                            <div class="col-md-6 form-group1 group-mail">
                                <label class="">CPU</label>
                                <input type="text" name="cpu" placeholder="" required="">
                            </div>
                            <div class="col-md-6 form-group1 group-mail">
                                <label class="">主板</label>
                                <input type="text" name="mainboard" placeholder="" required="">
                            </div>
                            <div class="col-md-6 form-group1 group-mail">
                                <label class="">内存</label>
                                <input type="text" name="mem" placeholder="" required="">
                            </div>
                            <div class="col-md-6 form-group1 group-mail">
                                <label class="">磁盘</label>
                                <input type="text" name="disk" placeholder="" required="">
                            </div>
                            <div class="col-md-6 form-group1 group-mail">
                                <label class="">系统</label>
                                <input type="text" name="system" placeholder="" required="">
                            </div>
                        </div>
                        <div class="col-md-7 form-group2 group-mail">
                            <label class="">部门</label>
                            <select name="departments">
                                {% for department in departments %}
                                <option value={{ department.id }}>{{ department.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
{#                        <div class="col-md-7 form-group1 group-mail">#}
{#                            <label class="">添加时间</label>#}
{#                            <input type="date" class="form-control1 ng-invalid ng-invalid-required"#}
{#                                   ng-model="model.date" required="">#}
{#                        </div>#}
                        <div class="col-md-7 form-group2 group-mail">
                            <label class="">主机是否启用</label>
                            <select name="is_active">
                                <option value=1>启用</option>
                                <option value=0>未启用</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12 form-group col-md-offset-3">
                            <button type="submit" class="btn btn-primary">submit</button>
                            <button type="reset" class="btn btn-default">reset</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                    {% endif %}
                    <!---->
                </div>

            </div>
            <!--//grid-->
            <!---->
            <div class="copy">
                <p>&copy; 2017 JunXi. All Rights Reserved</p></div>
        </div>
    </div>
{% endblock %}


