{% extends 'base.html' %}

{% block title %}
    <title>用户组添加</title>
{% endblock %}

{% block head-js %}
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }


            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });


        });
    </script>
{% endblock %}

{% block content %}
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main">

            <!--banner-->
            <div class="banner">
                <h2>
                    <a href="{% url 'view_user_list' %}">用户管理</a>
                    <i class="fa fa-angle-right"></i>
                     <a href="{% url 'add_group' %}"><span>用户组添加</span></a>
                </h2>
            </div>
            <!--//banner-->

            <form class="form-horizontal" enctype="multipart/form-data" action="" method="post">
            {% if new_group_status == 'success' %}
                <div class="login" style="padding: 2em">
                    <h2 class="span-font-green">{{ name }} 组添加成功，<a class="span-font-black" href="{% url 'add_group' %}">继续添加</a>，<a class="span-font-red" href="{% url 'view_group' %}">返回组列表</a></h2>
                </div>
            {% elif new_group_status == 'exist' %}
                <div class="login" style="padding: 2em">
                    <h2 class="span-font-green">{{ name }} 组已存在，<a href="{% url 'add_group' %}">重新添加</a></h2>
                </div>
            {% else %}
                <div class="login" style="padding: 2em">
{#                    <h1><a href="{% url 'index' %}">用户添加</a></h1>#}
                    <div class="login-bottom">
                        <h2>用户组添加</h2>
                        <div class="col-md-6">
                            <div class="login-mail">
                                <input type="text" placeholder="组名" name="name" required="">
                                <i class="fa fa-group"></i>
                            </div>
                            <textarea placeholder="描述" name="description" class="form-control" rows="5"></textarea>
                            <br />
                            <div class="checkbox">
                             {% for permission in permissons %}
                                <label class="span-font-green">
                                  <input type="checkbox" value="{{ permission.id }}" name="permission">
                                    {{ permission }}
                                </label>
                             {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6 login-do">
                            <label class="hvr-shutter-in-horizontal login-sub">
                                <input type="submit" value="提交">
                            </label>
                            <p>不想添加了</p>
                            <a href="{% url 'view_group' %}" class="hvr-shutter-in-horizontal">取消</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            {% endif %}
            </form>


        </div>
    </div>
    <div class="clearfix"></div>

    <!--//grid-->
    <!---->
    <div class="copy">
        <p>&copy; 2017 JunXi. All Rights Reserved</p></div>
{% endblock %}

{% block bottom-js %}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            $(".dropdown").mouseover(function () {#}
{#                console.log("diyiji");#}
{#                $(".dropdown-menu").click();#}
{#            });#}
{#            $(".dropdown").mouseout(function () {#}
{#                $(this).click();#}
{#            });#}
{#        })#}
{#    </script>#}
{#    .getElementsByClassName('permission-checkbox');#}
{#    <script>#}
{#        function checkPermission() {#}
{#            var permissionBox = $('#permission-box div input');#}
{#            console.log(permissionBox);#}
{#            for(var i=0; i<=permissionBox.length; i+=1) {#}
{#                if (permissionBox[i].checked) {#}
{#                    // console.log(permissionBox[i]);#}
{#                } else {#}
{#                    console.log("一个也没有选！");#}
{#                }#}
{#            }#}
        }
    </script>
    <script>
	    $(function () { $("[data-toggle1='tooltip']").tooltip(); });
    </script>
{% endblock %}

