{% extends 'base.html' %}

{% block title %}
<title>帮助中心</title>
{% endblock %}

{% block head-js %}
		<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}

			

			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});
			

			
		});
		</script>
{% endblock %}

{% block content %}
 <div id="page-wrapper" class="gray-bg dashbard-1">
       <div class="content-main">
 
 	<!--banner-->	
		   <div class="banner">
				<h2>
				<a href="{% url 'index' %}">首页</a>
				<i class="fa fa-angle-right"></i>
                <a href="{% url 'help' %}">
				    <span>帮助中心</span>
               </a>
				</h2>
		    </div>
		<!--//banner-->
 	 <!--faq-->
 	<div class="asked">
	

			<div class="questions">
				<h5>1.What is Lorem Ipsum?</h5>
	        	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	        </div>
			 <div class="questions">
				<h5>2.What is Lorem Ipsum dummy text ever since the 1500s?</h5>
			    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			 </div>	
			  <div class="questions">
				<h5>3.What is Duis laoreet, erat quis gravida porttitor odio felis ornare dui?</h5>
				<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam semper elit risus, nec suscipit tellus tincidunt quis. Fusce non auctor enim. Suspendisse sit amet erat mollis, suscipit nisl sed, condimentum turpis. Curabitur faucibus, nisl ut aliquam porta, massa tortor tristique dolor, eget porttitor velit ligula vel eros. Sed egestas aliquet tellus. Nulla ac luctus urna. Pellentesque feugiat eros quis nibh consectetur, eget dapibus magna egestas. Phasellus non efficitur metus.</p>
			 </div>
        </div>
	<!--//faq-->
		<!---->
        <div class="copy">
            <p>&copy; 2017 JunXi. All Rights Reserved</p>
        </div>
      </div>
    </div>
{% endblock %}

