{% extends 'base.html' %}

{% block title %}
    <title>注册</title>
{% endblock %}

{% block head-js %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<form class="form-horizontal" enctype="multipart/form-data" action="" method="post">
    <div class="login">
        <h1><a href="{% url 'index' %}">Primumest</a></h1>
        <div class="login-bottom">
            <h2>Register</h2>
            <div class="col-md-6">
                <div class="login-mail">
                    <input type="text" placeholder="请输入你的账户名" name="username" required="">
                    <i class="fa fa-user"></i>
                </div>
                <div class="login-mail">
                    <input type="password" placeholder="请输入密码" name="password" required="">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="login-mail">
                    <input type="password" placeholder="请再次输入密码" name="password" required="">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="login-mail">
					<input type="text" placeholder="请输入你的昵称" name="nickname" required="">
					<i class="fa fa-users"></i>
				</div>
                <div class="login-mail">
					<input type="text" placeholder="请输入你的常用邮箱" name="email" required="">
					<i class="fa fa-envelope"></i>
				</div>
                <div class="login-mail">
					<input type="text" placeholder="请输入11位合法手机号码" name="phone" required="">
					<i class="fa fa-phone-square"></i>
				</div>
                <div class="login-mail post-file">
                    <span class="span-font-green">上传头像 (建议图片尺寸: 150*150) </span>
                    <i class="fa fa-image">
					    <input type="file" placeholder="上传头像" name="headimg">
{#					    <input type="file" placeholder="上传头像" name="headimg" multiple class required="">#}
                    </i>
				</div>
                <div class="form-group">
                    <div class="col-md-8">
                        <select name="departments" class="form-control">
                            {% for department in departments %}
                            <option value="{{ department.id }}">{{ department.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
{#                <br style="line-height: -20px" />#}
{#                <a class="news-letter" href="#">#}
{#                    <label class="checkbox1"><input type="checkbox" name="checkbox"><i> </i>我同意注册协议</label>#}
{#                </a>#}
            </div>
            <div class="col-md-6 login-do">
                <label class="hvr-shutter-in-horizontal login-sub">
                    <input type="submit" value="注册">
{#                    <input type="submit" value="注册" onclick="alert('注册成功！')">#}
                </label>
                <p>已经注册</p>
                <a href="{% url 'login' %}" class="hvr-shutter-in-horizontal">登录</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</form>
    <!---->
    <div class="copy-right">
        <p>&copy; 2017 JunXi. All Rights Reserved</p>
    </div>
{% endblock %}

