{% extends 'base.html' %}

{% block title %}
    <title>主机列表</title>
{% endblock %}

{% block head-js %}
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }


            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });


        });
    </script>
{% endblock %}

{% block content %}
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main">

            <!--banner-->
            <div class="banner">
                <h2>
                    <a href="{% url 'server_list' %}">主机管理</a>
                    <i class="fa fa-angle-right"></i>
                     <a href="{% url 'server_list' %}"><span>主机列表</span></a>
                </h2>
            </div>
            <!--//banner-->

            <!-- tab content -->
            <div class="validation-system">
                <div class="validation-form">
                    <div class="inbox-padding">
                        <div class="mailbox-content">
                            <div class="mail-toolbar clearfix">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <form action="" method="post" class="input-group">
                                            <input type="text" class="form-control" name="select" placeholder="输入IP或主机名进行查询">
                                            <span class="input-group-btn">
                                                <button class="btn label-warning" type="submit"><i
                                                        class="fa fa-search"></i></button>
                                            </span>
                                        </form><!-- /input-group -->
{#                                        <span class="short-span"><i class="btn fa fa-refresh" onclick="refresh()"></i></span>#}
                                    </div><!-- /.col-lg-6 -->
                                    <div class="col-lg-6">
                                        <div class="float-right">
                                            <div class="dropdown">
                                                <a href="#" title="" class="btn btn-default"
                                                   data-toggle="dropdown"
                                                   aria-expanded="false">
                                                    <i class="fa fa-cog icon_8"></i>
                                                    <i class="fa fa-chevron-down icon_8"></i>
                                                    <div class="ripple-wrapper"></div>
                                                </a>
                                                <ul class="dropdown-menu float-right">
                                                    <li>
                                                        <a href="#" title="">
                                                            <i class="fa fa-pencil-square-o icon_9"></i>
                                                            批量编辑
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{% url 'server_register' %}">
                                                            <i class="fa fa-plus icon_9"></i>
                                                            添加主机
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="font-red" title="">
                                                            <i class="fa fa-check-square-o" icon_9=""></i>
{#                                                            <i class="fa fa-times" icon_9=""></i>#}
                                                            修改主机
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="btn-group">
                                                <a class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                                                <a class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div><!-- /.col-lg-6 -->
                                </div><!-- /.row --><!-- 搜索框 -->

                            </div>
                        {% if error %}
                        <h2 style="color: red">资源不存在！ <a href="{% url 'server_list' %}">返回主机列表</a></h2>
                        {% else %}
                            <table class="table">
                                <tbody>
                                <tr class="">
                                    <td class="table-text">
                                        <h6>主机名</h6>
                                    </td>
                                    <td class="table-text">
                                        <h6>IP</h6>
                                    </td>
                                    <td class="table-text">
                                        <h6>系统信息</h6>
                                    </td>
                                    <td class="table-text">
                                        <h6>状态</h6>
                                    </td>
                                    <td class="table-text">
                                        <h6>功能</h6>
                                    </td>
                                </tr>
                                {% for server in server_data %}
                                    <tr class="table-row">
                                        <td class="table-text">
                                            <a href="{% url 'servers' server.id %}">
                                                <h6>{{ server.hostname }}</h6>
                                            </a>
                                        </td>
                                        <td class="march">
                                            {{ server.ip }}
                                        </td>
                                        <td class="march">
                                            {{ server.system }}
                                        </td>
                                        <td>
                                            {% if server.is_connect == 1 %}
                                                <span class="mar">已连接</span>
                                            {% else %}
                                                <span class="err" data-toggle1='tooltip' title="安装完salt及认证正确后状态ok" data-placement="top">未连接</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <!-- Button trigger modal --><!--重启-->
                                            <span id="{{ server.hostname }}" class="btn btn-warning btn-sm" data-toggle="modal" data-target=".{{ server.hostname }}-reboot">重启</span>
                                                <!-- Modal -->
                                                <div class="modal fade bs-example-modal-sm {{ server.hostname }}-reboot" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
{#                                                <div id="myModal" class="modal fade" tabindex="-1" role="dialog">#}
{#                                                  <div class="modal-dialog" role="document">#}
                                                  <div class="modal-dialog modal-sm" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title span-font-red">正在重启主机{{ server.hostname }}</h4>
                                                      </div>
{#                                                      <div class="modal-body">#}
{#                                                        <p>模态框内容&hellip;</p>#}
{#                                                      </div>#}
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                        <button type="button" class="btn btn-primary" data-hostname="{{ server.hostname }}" data-action="reboot_server" onclick="saltAction(dataset.hostname, dataset.action)">确认</button>
                                                      </div>
                                                    </div><!-- /.modal-content -->
                                                  </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->

                                            <!--关机-->
                                            <span id="{{ server.hostname }}" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".{{ server.hostname }}-shutdown">关机</span>
                                                <!-- Modal -->
                                                <div class="modal fade bs-example-modal-sm {{ server.hostname }}-shutdown" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
{#                                                <div id="myModal" class="modal fade" tabindex="-1" role="dialog">#}
{#                                                  <div class="modal-dialog" role="document">#}
                                                  <div class="modal-dialog modal-sm" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title span-font-red">正在关闭主机{{ server.hostname }}</h4>
                                                      </div>
{#                                                      <div class="modal-body">#}
{#                                                        <p>模态框内容&hellip;</p>#}
{#                                                      </div>#}
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                        <button type="button" class="btn btn-primary"  data-hostname="{{ server.hostname }}" data-action="shutdown_server" onclick="saltAction(dataset.hostname, dataset.action)">确认</button>
                                                      </div>
                                                    </div><!-- /.modal-content -->
                                                  </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->

                                            <a href="{% url 'server_update' server.id %}">
                                                <span class="btn btn-primary btn-sm">修改</span>  <!--修改-->
                                            </a>

                                            <!-- Button trigger modal --><!--删除-->
                                            <span id="{{ server.hostname }}" class="btn btn-info btn-sm" data-toggle="modal" data-target=".{{ server.hostname }}-delete">删除</span>
                                                <!-- Modal -->
                                                <div class="modal fade bs-example-modal-sm {{ server.hostname }}-delete" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
{#                                                <div id="myModal" class="modal fade" tabindex="-1" role="dialog">#}
{#                                                  <div class="modal-dialog" role="document">#}
                                                  <div class="modal-dialog modal-sm" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title span-font-red">正在删除主机{{ server.hostname }}</h4>
                                                      </div>
{#                                                      <div class="modal-body">#}
{#                                                        <p>模态框内容&hellip;</p>#}
{#                                                      </div>#}
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                        <button type="button" id="{{ server.id }}" class="btn btn-primary"  onclick="delServer(this.id)">确认</button>
                                                      </div>
                                                    </div><!-- /.modal-content -->
                                                  </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    <div class="clearfix"></div>

    <!--//grid-->
    <!---->
    <div class="copy">
        <p>&copy; 2017 JunXi. All Rights Reserved</p></div>
{% endblock %}

{% block bottom-js %}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            $(".dropdown").mouseover(function () {#}
{#                console.log("diyiji");#}
{#                $(".dropdown-menu").click();#}
{#            });#}
{#            $(".dropdown").mouseout(function () {#}
{#                $(this).click();#}
{#            });#}
{#        })#}
{#    </script>#}
    <script>
	    $(function () { $("[data-toggle1='tooltip']").tooltip(); });
    </script>
{% endblock %}

