{% extends 'base.html' %}

{% block title %}
    <title>个人信息修改</title>
{% endblock %}

{% block head-js %}
		<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}



			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});



		});
		</script>
{% endblock %}

{% block content %}
     <div id="page-wrapper" class="gray-bg dashbard-1">
       <div class="content-main">

 	<!--banner-->
		    <div class="banner">
		    	<h2>
				 <a href="{% url 'view_user_list' %}">
				    <span>用户管理</span>
                </a>
                <i class="fa fa-angle-right"></i>
                <span>{{ user_data.nickname }}</span>
				<i class="fa fa-angle-right"></i>
				<span>修改信息</span>
				</h2>
		    </div>
		<!--//banner-->
 	 <!--修改用户信息-->
   <form action="" method="post" enctype="multipart/form-data">
 	 <div class=" profile">
		<div class="profile-bottom">
			<h3><i class="fa fa-user"></i>信息修改</h3>
			<div class="profile-bottom-top">
                <div class="col-md-4 profile-bottom-img">
                    <div class="post-file headimg">
                        <img id="head-img" src="/static/{{ user_data.headimg }}" alt="" style="width: 150px; height: 150px;">
                        <input type="file" placeholder="上传头像" name="headimg" onchange="showPreview(this)" class="input-remove-border">
                    </div>
                </div>
                <div class="col-md-8 profile-text">
                    <h6><input class="" type="text" name="nickname" value="{{ user_data.nickname }}" /></h6>
                    <table>
                    <tr>
                        <td>部门</td>
                        <td>:</td>
                        <td>
                            <select name="departments">
                                <option value="{{ user_data.departments.id }}">{{ user_data.departments.name }}</option>
                                {% for department in departments %}
                                    {% if department.id == user_data.departments.id %}
                                    {% else %}
                                    <option value={{ department.id }}>{{ department.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
{#                        <td><input class="" type="text" name="departments" value="{{ user_data.departments }}" /></td>#}
                    </tr>
                    <tr>
                    <td>邮箱</td>
                    <td>:</td>
                    <td><input class="" type="text" name="email" value="{{ user_data.email }}" /></td>
                    </tr>
                    <tr>
                    <td>电话</td>
                    <td>:</td>
                    <td><input class="" type="text" name="phone" value="{{ user_data.phone }}" /></td>
                    </tr>
                    <tr>
                    <td>属组</td>
                    <td>:</td>
                    <td>
                        <select name="group">
                            <option value="{{ user_data.group.id }}">{{ user_data.group }}</option>
                            {% for group in groups %}
                                {% if group.id == user_data.group.id %}
                                {% else %}
                                <option value={{ group.id }}>{{ group.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    </tr>
                    </table>
                </div>

			<div class="clearfix"></div>
			</div>
			<div class="profile-bottom-bottom">
			    <div class="clearfix"></div>
			</div>
			<div class="profile-btn">
                <div class="col-md-3 col-md-offset-4">
                     <a href="{% url 'view_user_profile' user_data.id %}" class="btn btn-info" style="width: 155px; height: 34px;"><i class="fa fa-close"></i> 取消修改</a>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-danger" style="width: 155px; height: 34px;"><i class="fa fa-check"></i> 提交修改</button>
                </div>

                <div class="clearfix"></div>
            </div>

		</div>
	</div>
    </form>
	<!--//修改用户信息-->
		<!---->
        <div class="copy">
            <p>&copy; 2017 JunXi. All Rights Reserved</p>
        </div>
		</div>
		</div>

{% endblock %}

{% block bottom-js %}
    <!--图片上传预览-->
    <script type="text/javascript">
        function showPreview(source) {
            var file = source.files[0];
            if(window.FileReader) {
                var fr = new FileReader();
                fr.onloadend = function(e) {
                    document.getElementById('head-img').src = e.target.result;
                    // console.log(document.getElementById('head-img').src);
                };
                fr.readAsDataURL(file);
            }
        }
    </script>
{% endblock %}



