{% extends 'base.html' %}

{% block title %}
    <title>用户组列表</title>
{% endblock %}

{% block head-js %}
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }


            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });


        });
    </script>
{% endblock %}

{% block content %}
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main">

            <!--banner-->
            <div class="banner">
                <h2>
                    <a href="{% url 'view_user_list' %}">用户管理</a>
                    <i class="fa fa-angle-right"></i>
                     <a href="{% url 'view_group' %}"><span>用户组列表</span></a>
                </h2>
            </div>
            <!--//banner-->

            <!-- tab content -->
            <div class="validation-system">
                <div class="validation-form">
                    <div class="inbox-padding">
                        <div class="mailbox-content">
                            <div class="mail-toolbar clearfix">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <form action="" method="post" class="input-group">
                                            <input type="text" class="form-control" name="select" placeholder="输入组名进行查询">
                                            <span class="input-group-btn">
                                                <button class="btn label-warning" type="submit"><i
                                                        class="fa fa-search"></i></button>
                                            </span>
                                        </form><!-- /input-group -->
{#                                        <span class="short-span"><i class="btn fa fa-refresh" onclick="refresh()"></i></span>#}
                                    </div><!-- /.col-lg-6 -->
                                    <div class="col-lg-6">
                                        <div class="float-right">
                                            <div class="btn-group">
                                                <a class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                                                <a class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div><!-- /.col-lg-6 -->
                                </div><!-- /.row --><!-- 搜索框 -->

                            </div>
                        {% if error %}
                        <h2 style="color: red">该用户组不存在！<a href="{% url 'view_group' %}">返回用户组列表</a></h2>
                        {% else %}
                            <table class="table">
                                <tbody>
                                <tr class="">
                                    <td class="table-text">
                                        <h6>组名</h6>
                                    </td>
                                    <td class="table-text">
                                        <h6>描述</h6>
                                    </td>
                                    <td class="table-text">
                                        <h6>功能</h6>
                                    </td>
                                </tr>
                                {% for group in groups%}
                                    <tr class="table-row">
                                        <td class="table-text">
                                            <h6>{{ group.name }}</h6>
                                        </td>
                                        <td class="march">
                                            {{ group.description }}
                                        </td>
                                        <td>

                                            <a href="{% url 'update_group' group.id %}">
                                                <span class="btn btn-info btn-sm" data-toggle1='tooltip' title="修改用户组信息" data-placement="top">修改</span>  <!--修改-->
                                            </a>

                                            <!-- Button trigger modal --><!--删除用户组-->
                                            <span class="btn btn-danger btn-sm" data-toggle="modal" data-target=".mymodal-{{ group.id }}" data-toggle1='tooltip' title="删除用户组" data-placement="top">删除</span>
                                                <!-- Modal -->
                                                <div class="modal fade bs-example-modal-sm mymodal-{{ group.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
{#                                                <div id="myModal" class="modal fade" tabindex="-1" role="dialog">#}
{#                                                  <div class="modal-dialog" role="document">#}
                                                  <div class="modal-dialog modal-sm" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title span-font-red">正在删除用户组{{ group.name }}</h4>
                                                      </div>
{#                                                      <div class="modal-body">#}
{#                                                        <p>模态框内容&hellip;</p>#}
{#                                                      </div>#}
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                        <button type="button" id="{{ group.id }}" class="btn btn-primary"  onclick="delGroup(this.id)">确认</button>
                                                      </div>
                                                    </div><!-- /.modal-content -->
                                                  </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->

                                            <!-- Button trigger modal --><!--修改权限-->
                                            <span class="btn btn-primary btn-sm" data-toggle1='tooltip' title="修改组权限" data-placement="top" data-toggle="modal" data-target=".permission-{{ group.id }}">修改权限</span>
                                              <form action="{% url 'alter_group_permisson' group.id %}" method="post">
                                                <!-- Modal -->
                                                <div class="modal fade bs-example-modal-sm permission-{{ group.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
{#                                                <div id="myModal" class="modal fade" tabindex="-1" role="dialog">#}
{#                                                  <div class="modal-dialog" role="document">#}
                                                  <div class="modal-dialog modal-sm" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title span-font-red">用户组 {{ group.name }} 修改权限</h4>
                                                      </div>
                                                      <div class="modal-body" id="permission-box">
                                                            <input type="text" name="test" value="test" hidden>
                                                          {% for permission in permissions %}
                                                              <div class="checkbox">
                                                              {% if permission in group.permission.filter%}
                                                                <label class="span-font-green">
                                                                  <input type="checkbox" value="{{ permission.id }}" name="permission" checked>
                                                                    {{ permission }}
                                                                </label>
                                                              {% else %}
                                                                <label class="span-font-green">
                                                                  <input type="checkbox" value="{{ permission.id }}" name="permission">
                                                                    {{ permission }}
                                                                </label>
                                                              {% endif  %}
                                                              </div>
                                                          {% endfor %}
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                        <button type="submit" class="btn btn-primary">确认</button>
                                                      </div>
                                                    </div><!-- /.modal-content -->
                                                  </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    <div class="clearfix"></div>

    <!--//grid-->
    <!---->
    <div class="copy">
        <p>&copy; 2017 JunXi. All Rights Reserved</p></div>
{% endblock %}

{% block bottom-js %}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            $(".dropdown").mouseover(function () {#}
{#                console.log("diyiji");#}
{#                $(".dropdown-menu").click();#}
{#            });#}
{#            $(".dropdown").mouseout(function () {#}
{#                $(this).click();#}
{#            });#}
{#        })#}
{#    </script>#}
{#    .getElementsByClassName('permission-checkbox');#}
{#    <script>#}
{#        function checkPermission() {#}
{#            var permissionBox = $('#permission-box div input');#}
{#            console.log(permissionBox);#}
{#            for(var i=0; i<=permissionBox.length; i+=1) {#}
{#                if (permissionBox[i].checked) {#}
{#                    // console.log(permissionBox[i]);#}
{#                } else {#}
{#                    console.log("一个也没有选！");#}
{#                }#}
{#            }#}
        }
    </script>
    <script>
	    $(function () { $("[data-toggle1='tooltip']").tooltip(); });
    </script>
{% endblock %}

